{% extend 'base.html'%}

{% block header%}
  <body class="background">
    

    <main class="cardset">
      <div class="container text-center">
        <h2 class="categorytext">Booked Events</h2>
        <div class="container cardset">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
              <div class="card artist">
                <img
                  src="Static/Img/New jeans.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">#90834659</h5>
                  <p class="card-text">NewJeans: NewJeans World Tour</p>
                  <p class="card-text">Date Booked: 24/04/2024</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card artist">
                <img
                  src="Static/Img/Twice.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">#97653978</h5>
                  <p class="card-text">Twice: Ready To Be World Tour</p>
                  <p class="card-text">Date Booked: 12/12/2023</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card artist">
                <img
                  src="Static/Img/adele.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">#92375629</h5>
                  <p class="card-text">Adele: World Tour</p>
                  <p class="card-text">Date Booked: 08/04/2023</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card artist">
                <img src="Static/Img/neyo.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">#59833986</h5>
                  <p class="card-text">Ne-Yo: World Tour</p>
                  <p class="card-text">Date Booked: 06/01/2024</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card artist">
                <img
                  src="Static/Img/Justin Timberlake.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">#12974123</h5>
                  <p class="card-text">Justin Timberlake: World Tour</p>
                  <p class="card-text">Date Booked: 20/6/2023</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row cardset">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link updates" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link updates" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link updates" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link updates" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link updates" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>
    {% endblock %}
    {%block content%}
    {%endblock%}
  </body>
</html>
