{% extends 'base.html' %}
 
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
{% endblock %}

{% block content %}
<main class="rowimg">
    <div class="container text-center">
        <div class="row updates image" >
          <div class="col-md-12">
            <h1> Create New Event</h1>
            <p1> Fill out the detials of your upcoming event </p1>
            {{ render_form(form) }}
          </div>
        </div>
    </div>
</main>
{%endblock%}
