{% extends 'base.html' %}
 
{% block header %}
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <a href="Event Details.html">
            <img src="Static/Img/BTS.jpg" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Upcoming Events</h5>
              <p>Watch BTS Preform Live</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a href="Event Details.html">
            <img src="Static/Img/Olivia rodrigo.jpg" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Upcoming Events</h5>
              <p>Watch Oliva Rodrigo Preform Live</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="Event Details.html">
            <img src="Static/Img/Zayn malik.png" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Upcoming Events</h5>
              <p>Watch Zayn Malik preform Live</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% endblock %}

{% block content %}
<main class="rowimg">
    <div class="container text-center">
        <div class="row updates image" >
          <div class="col-md-6">
            <label for="exampleFormControlInput1" class="form-label">Artist</label>
            <input type="Name" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="col-md-6">
            <label for="exampleFormControlInput1" class="form-label">Date</label>
            <input type="datetime" class="form-control" id="exampleFormControlInput1">
          </div>
        </div>

        <div class="row rowimg">
          <div class="col-md-6">
            <input type="time" id="appt" name="appt" min="09:00" max="18:00" class="input">
            <small class="categorytext">Start time</small>
          </div>
          <div class="col-md-6">
            <input type="time" id="appt" name="appt" min="09:00" max="18:00" class="input">
            <small class="categorytext">Finish time</small>
          </div>
        </div>
        
        <div class="row createimg">
          <div class="col-md-6">
            <img src="Static/Img/image.jpg" class="img2">
          </div>
          <div class="col-md-6">
            <label for="formFileSm" class="form-label" class="categorytext">Event Image</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file" class="filess">
          </div>
        </div>
        
        <div class="row">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label text-white">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="row">  
            <div class="mb-3"></div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Create Event
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Event Created</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Congratulation on the Event has been created. 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{%endblock%}
