{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}


{% block header %}
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <a href="Event Details.html">
              <img src="Static/Img/BTS.jpg" class="d-block w-100" alt="..." />
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Upcoming Events</h5>
              <p>Watch BTS Preform Live</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a href="Event Details.html">
              <img
                src="Static/Img/Olivia rodrigo.jpg"
                class="d-block w-100"
                alt="..."
              />
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Upcoming Events</h5>
              <p>Watch Oliva Rodrigo Preform Live</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="Event Details.html">
              <img
                src="Static/Img/Zayn malik.png"
                class="d-block w-100"
                alt="..."
              />
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Upcoming Events</h5>
              <p>Watch Zayn Malik preform Live</p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

{% endblock %}

{% block content %}
    <main class="rowimg">
      <div class="container text-center">
        <div class="container py-3 updates">
          <div class="row justify-content-between">
            <div class="col-md-3">
              <h1 class="mb-0">{{event.name}}</h1>

            {% if event.status == 'Open' %}
               <span class="badge bg-success">{{event.status}}</span>
            {% endif %}
            {% if event.status == 'Inactive' %}
               <span class="badge bg-secondary">{{event.status}}</span>
            {% endif %}
            {% if event.status == 'Sold Out' %}
               <span class="badge bg-danger">{{event.status}}</span>
            {% endif %}
            {% if event.status == 'Cancelled' %}
               <span class="badge bg-warning">{{event.status}}</span>
            {% endif %}
              
            </div>
            <div class="col-md-6">
              <img
                src="{{url_for('static', filename=event.image)}}"
                class="img-fluid"
                alt="New Jeans"
              />
            </div>
          </div>
        </div>

        <div class="row justify-content-between cardset">
          <div class="col-md-5">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14161.472880766996!2d153.034627!3d-27.4577936!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b91592f8013be8d%3A0x349b71d19fceb321!2sFortitude%20Music%20Hall!5e0!3m2!1sen!2sau!4v1713521338127!5m2!1sen!2sau"
              width="100%"
              height="250"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>

          <div class="col-md-5 categorytext emailins">
            <h2>Event Details</h2>
            <p>Presented by: EventMasters</p>
            <p> {{event.description}}
            </p>
            <p>Event Starts At : {{event.start_time}}</p>
            <p>Event Ends At : {{event.end_time}}</p>
          {% if event.user_id == current_user %}
            <button href="{{ url_for('Event.update',id=event.id) }}">Update Event</button>
          {% else %}
          {% endif %}
          </div>
        </div>

        <br>

        <h2 class="categorytext">Book Tickets</h2>
        {% if event.status == 'Open' %}
        <div class="row">
          {{render_form(bform,"/Events/{0}/booking".format(event.id), extra_classes="form-control")}}
        </div>
        {% else %}
          <h2 class="form-control">Sorry! This event cannot be booked anymore lols</h2>
        {% endif %}

        <div class="row">
          <div class="col-md-12">
            <div class="row border-bottom mt-5"></div> 
            <h2 class="categorytext">Comments</h2>
          </div>  
        </div>
            {{ render_form(form,"/Events/{0}/comment".format(event.id), extra_classes="form-control") }}
            
            {% for comment in event.comments %}
            <div class="col-md-12">  
              <b>{{ comment.user.name }} <span class="ml-2 text-muted">{{ comment.created_at }}</span></b>
              <p>{{ comment.text }}</p>  
            </div> 
            {% endfor %} 
        </div>  
      </div> 
      </div>
    </main>
{%endblock%}
