{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}


{% block header %}
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <a href="Event Details.html">
              <img src="Static/Img/BTS.jpg" class="d-block w-100" alt="..." />
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Upcoming Events</h5>
              <p>Watch BTS Preform Live</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a href="Event Details.html">
              <img
                src="Static/Img/Olivia rodrigo.jpg"
                class="d-block w-100"
                alt="..."
              />
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Upcoming Events</h5>
              <p>Watch Oliva Rodrigo Preform Live</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="Event Details.html">
              <img
                src="Static/Img/Zayn malik.png"
                class="d-block w-100"
                alt="..."
              />
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Upcoming Events</h5>
              <p>Watch Zayn Malik preform Live</p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

{% endblock %}

{% block content %}
    <main class="rowimg">
      <div class="container text-center">
        <div class="container py-3 updates">
          <div class="row justify-content-between">
            <div class="col-md-3">
              <h1 class="mb-0">{{event.name}}</h1>
            </div>
            <div class="col-md-6">
              <img
                src="{{url_for('static', filename=event.image)}}"
                class="img-fluid"
                alt="New Jeans"
              />
            </div>
          </div>
        </div>

        <div class="row justify-content-between cardset">
          <div class="col-md-5">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14161.472880766996!2d153.034627!3d-27.4577936!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b91592f8013be8d%3A0x349b71d19fceb321!2sFortitude%20Music%20Hall!5e0!3m2!1sen!2sau!4v1713521338127!5m2!1sen!2sau"
              width="100%"
              height="250"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>

          <div class="col-md-5 categorytext emailins">
            <h2>Event Details</h2>
            <p>Presented by: EventMasters</p>
            <p> {{event.description}}
            </p>
            <p>Event Starts At : {{event.start_date}}</p>
            <p>Event Ends At : {{event.end_date}}</p>
          </div>
        </div>

        <h2 class="categorytext">Book Tickets</h2>
        <div class="row">
          <div class="col-md">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                  >
                    Select Tickets
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseOne"
                  class="accordion-collapse collapse show updates"
                >
                  <div class="accordion-body">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="ticketType"
                        id="exampleRadios1"
                        value="option1"
                        checked
                      />
                      <label class="form-check-label" for="exampleRadios1">
                        Best Available (any price) From $200
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="ticketType"
                        id="exampleRadios2"
                        value="option2"
                      />
                      <label class="form-check-label" for="exampleRadios2">
                        A Reserve $400
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="ticketType"
                        id="exampleRadios3"
                        value="option3"
                      />
                      <label class="form-check-label" for="exampleRadios3">
                        B Reserve From $300
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="ticketType"
                        id="exampleRadios4"
                        value="option4"
                      />
                      <label class="form-check-label" for="exampleRadios4">
                        C Reserve $200
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item acc">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo"
                  >
                    Select amount of Tickets
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseTwo"
                  class="accordion-collapse collapse updates"
                >
                  <div class="accordion-body">
                    <div class="form-group">
                      <label for="ticketQuantity">Select Quantity:</label>
                      <select class="form-control" id="ticketQuantity">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item acc">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree"
                  >
                    Choose Delivery Option
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseThree"
                  class="accordion-collapse collapse updates"
                >
                  <div class="accordion-body">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="deliveryOption"
                        id="deliveryOption1"
                        value="option1"
                        checked
                      />
                      <label class="form-check-label" for="deliveryOption1">
                        Mobile Ticket (via SMS) $8.50
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="deliveryOption"
                        id="deliveryOption2"
                        value="option2"
                      />
                      <label class="form-check-label" for="deliveryOption2">
                        Print-At-Home (PDF) $8.50
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="deliveryOption"
                        id="deliveryOption3"
                        value="option3"
                      />
                      <label class="form-check-label" for="deliveryOption3">
                        Venue / Pre-Paid Collection Outlet $11.50
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row cardset">
          <div class="col-md">
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Purchase
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Purchase Complete
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    Congratulation on your Purchase of these ticket/s. Hope you
                    have a wonderful time.
                  </div>
                  <div class="modal-footer">
                    <a href="Booking.html">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="categorytext">Comments</h2>
          </div>  
        </div>
        <div class="row border-bottom"></div> 
            {{ render_form(form,"/Events/{0}/comment".format(event.id)) }}
            
            {% for comment in event.comments %}
            <div class="col-md-12">  
              <b>{{ comment.user.name }} <span class="ml-2 text-muted">January 2024</span></b>
              <p>{{ comment.text }}</p>  
            </div> 
            {% endfor %} 
        </div>  
      </div> 
      </div>
    </main>
{%endblock%}
