.background {
    background-color: black ;
}

.categorybg {
    padding: 20px; 
    background-color: #343a40; 
    border-radius: 10px;
}

.categorystart{ 
    background-color: #212529; 
    color: white;
    border: 0;
}

.categoryDB{
    background-color: #212529; 
    border: 0;
}

.categorytext{
    color: white;
}

.apply{
    background-color: #28a745
}

.cardset{
    padding-top: 20px;
}

.artist{ 
    background-color: #212529;
    color: white; 
    height: 100;
}

.rowimg{
    padding-top: 20px; 
    padding-bottom: 20px
}

.img{ 
    width: 100%; 
    height: 100%
}

.updates{
    background-color: #212529;
    color: white; 
}

.emailins{
    text-align: left
}

.checked{
    color: orange;
  }

.acc{
    background-color: #212529;
}

.cardp{
    text-align: justify;
}

.input{
    background-color: #333; 
    color: white; 
    border-color: #555; 
    width: 100%; 
    padding: 8px;
}

.createimg{
    align-items: center;
}

.img2{
    height: 300; 
    width: 300; 
    max-width: 100%; 
    height: auto; 
    border-radius: 50%;
}

.filess{
    background-color: #333; 
    color: white; 
    border-color: #555;
}

.foot{
    background-color: dark;
    padding-top: 20px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

#welcomenavbar {
    color:white !important;
    font-style: italic;
}   