{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
{% endblock %}

{% block content %}
    <main class="cardset">
      <div class="container text-center">
        <h2 class="categorytext">Booked Events</h2>
        <h3 class="text-center">No events booked</h3>

        <div class="row cardset">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link updates" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link updates" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link updates" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link updates" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link updates" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
